<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dokutementasion</title>
    <style>
        *{
            margin-left:3px;
            margin-top:10px;
        }
    .nav{
        height:100px;
        background-color: lightyellow;
    }
    </style>
</head>
<body>
    <div class='nav'>
        <h3>Welcome To Beerscovery!</h3>
    </div>
    <a class="btn btn-primary" href="/signup" role="button">Sign Up</a>
    <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log In</a>

</body>
</html>